body {
  -ms-overflow-style: none; /* Remove scrollbar */
  /* overflow: hidden; */
  /* height: 100%; */
}
::-webkit-scrollbar {
  display: none; /* Remove scrollbar */
}

/* body * {
  touch-action: none;
} */

/* body {
  position: fixed;
} */
