.postcardsWrapper {
  column-width: 220px;
  column-gap: 20px;
  width: 90%;
  max-width: 1400px;
  margin: 60px auto;
}

.postcard {
  margin: 10px 0;
  text-align: left;
  display: inline-block;
}

.postcard .theme {
  font-size: 1.3rem;
  padding-top: 24px;
  padding-bottom: 10px;
}

.postcard .description {
  padding-top: 14px;
  padding-bottom: 14px;
}

.postcard .owner {
  padding-top: 10px;
  padding-bottom: 24px;
}
